body {
    background-color: rgba(141, 150, 126, 1);
}

#title {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

#passport {
    max-width: 350px;
    max-height: 250px;
    box-shadow: 5px 10px rgba(62, 71, 71, 1);;
}

.location {
    background-color: rgba(196, 77, 17, 1);
    color: rgba(252, 255, 255, 1);
}

.movie {
    background-color: rgba(150, 27, 29, 1);
    color: rgba(252, 255, 255, 1);
    box-shadow: 5px 10px rgba(62, 71, 71, 1);;
}